* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }

body {
  font-family: courier, monospace;
  font-size: 100%;
}

.intro a,
.remodal p a {
  color: rgb(0,0,0);
  text-decoration: none;
  border-bottom: 1px solid black;
}

.intro a:hover,
.remodal p a:hover {
  color: rgb(77,77,77);
  background: rgb(133,242,82);
}

img {
  max-width: 100%;
}

.thumb a {
  text-decoration: none;
}

.thumb a h3 {
  color: rgb(0,0,0);
  border-bottom: 1px solid black;
  display: inline;
}

.thumb a:hover h3 {
  background: rgb(133,242,82);
}

.wrapper {
  display:-webkit-flex;
display:flex;
-webkit-justify-content: space-around;
justify-content: space-around;
flex-wrap:wrap;
-webkit-justify-content: wrap;
width: 99%;
}

header {
  position: relative;
  width: 17em;
  margin-top: 1em;
}

header h1 {
  font-family: verdana, sans-serif;
  padding: 0;
  margin: 12px;
  font-size: 2.1rem;
  line-height: 1;
  color: rgb(94,111,117);
  /*opacity: 0.4;*/
}

.intro {
  /*overflow: auto;
  position: relative;*/
  /*z-index: 14;
  width: 17em;*/
    flex: 1 1 0;
}

.intro p,
.intro ul {
  /*float:left;
  display: block;*/
  font-size: 0.8rem;
  line-height:1.4;
  margin: 1em;
  color: #777;
}

.intro ul {
  list-style: none;
  padding-left: 0;
  border-top: 2px solid #777;
    margin-top: 40px;
    padding-top: 20px;
}

.intro li {
  margin-bottom: 1.1em;
}

.screens {
  /*position: relative;*/
  /*z-index: 11;*/
  margin-bottom: 2em;
    flex: 3 1 0;
}

.screens div {
  display: inline-block;
  width: 14em;
  margin: 1em 0.5em;
  vertical-align: top;
}

.screens img {
  border: 1px solid #555;
  padding: 0.3em;
  background: none;
}

.screens h3 {
  font-size:0.8rem;
  margin: 0.2em 0;
  font-weight: normal;
}

.projd {  color: #aaa; }

.remodal {
  background: rgb(250,250,250);
  border-radius: 0;
}

.remodal p {
  text-align: left;
  font-size: 0.8rem;
  line-height:1.4;
}

.remodal img {
  margin:1em 0;
  border:2px solid #555;
  /*opacity: 0;
  transition: opacity .3s ease-in;*/
}

.remodal h4 {
  font-size: 1.1rem;
}

.toolline {font-style: italic;}

h4 i {
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
}
