* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;}

body {
    background-color: #fff;
    font-size:100%;
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2";
    color:#727272;}

a {color:lime;}
a:hover {color:#333;background-color:#ddd;}
a:active {color:violet;background-color:transparent;}

.container {
    margin-left:8%;
    margin-top:8%;
    font-size:1.1rem;}

.sidebar {
    position:relative;
    margin-left:4%;
     vertical-align:top;
   display:inline-block;
    width:20%;}

header {
    /*display:inline-block;*/
    vertical-align:top;
    /*width:20%;*/
    position:relative;
    margin-bottom: 3em;}

header h1 {font-weight:normal;margin-top:0;margin-bottom:0.2em;}    

.sidebar {font-size: 0.9rem;}
.navi {list-style: none;}

.content {
    display:inline-block;
     vertical-align:top;
   position:relative;
    width:55%;
    font-size:1.2rem;
line-height:1.6;}

.post {
    position:absolute;
    color:rgba(144,144,144,0.2);
    top:2%;
    left:1%;}

#opt0 {
    color:#535353;
    top:0;
    left:0;}

.post:target {
    z-index:40;
    color:rgba(33,33,33,1);
    top:0;
    left:0;}

.post ul, .post ol {
    margin-left: 1.3rem;}

.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 1%;}


