---
title: crankin
---

<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/jquery.remodal.css">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <section class="intro">
    <p>crankin is a digital studio located in Austin, Texas. We work with art and cultural organizations, nonprofits, local businesses, artists, architects, and creative individuals to design and develop beautiful and useful interactive products and services.</p>

    <p>We've worked on small and large websites, mobile apps, and a bunch of other online projects. We can guide you through the entire process &mdash; from planning to launch &mdash; or jump in at any stage and work with your in-house creative department or outside design agency.<br><br>
      We work closely with clients to make sure the project meets their goals. And we make sure that we provide them with simple, useable tools they can use to manage or expand the project in the future.</p>

      <p>crankin is also the <i>nom de plume</i> of Christopher Rankin, a web developer / designer / creative coder with over 18 years of public and nonprofit experience working for KLRU, the UT-Austin School of Architecture, the Texas Commission on the Arts, and the Austin Museum of Art. He sometimes writes about current interests &mdash; the intersection of art and technology, networks, public art, urban interventions, museums, animated GIFs &mdash; at <a href="http://getcrank.in/blog">getcrank.in/blog</a>.</p>

      <ul>
        <li>crankin@getcrank.in</li>
        <li><a href="https://twitter.com/_crankin_">@_crankin_</a></li>
        <!-- <li><a href="#">tumblr</a></li> -->
        <li><a href="https://pinboard.in/u:crankin">pinboard.in/u:crankin</a></li>
        <!-- <li><a href="#">codeinthecity</a></li> -->
      </ul>
    </section>

    <header>
      <h1>{{ page.title }}</h1>
    </header>

    <section class="screens">

  {% for proj in site.projects %}
  <div class="thumb"><a href="#{{ proj.pid }}"><img src="http://www.bigcheckfactory.com/img/{{ proj.pid }}/thumb.jpg"><h3>{{ proj.title }}</h3></a></div>
  <div class="remodal" data-remodal-id="{{ proj.pid }}">
        <h4>{{ proj.title }} <i>({{ proj.launch }})</i></h4>
        <p><a href="http://{{ proj.purl }}">{{ proj.purl }}</a></p>
        <p class="toolline">{{ proj.tech }}</p>
        {{ proj.content }}
        {% for pic in proj.shots %}
        <img src="/images/back.png" data-src="http://www.bigcheckfactory.com/img/{{ proj.pid }}/{{ pic.img }}" alt="{{ pic.alt }}">
        {% endfor %}
      </div>
  {% endfor %}
    </section>

    <script src="/js/zepto.min.js"></script>
    <script src="/js/jquery.remodal.min.js"></script>
    <script type="text/javascript" src="/js/jquery.unveil.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $('.thumb a').on('click', function(e) {
          e.preventDefault();
          $('.remodal img').unveil();
        });
      //  $(".remodal img").unveil();
      });

      // $('.ctg a[href="#"]').on('click', function(e) {
      //     e.preventDefault();
      //     $('.ctg .desc').slideToggle('slow');
      //     $('.ctg img').unveil(200);
      // });
    </script>
  </body>
  </html>
