<p><a href="#menu" class="mswitch">menu</a></p>
<ul class="navpost blognav">
  {% for post in site.posts %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<ul class="navpost">
  <li><a href="/">getcrank.in</a></li>
  <!-- <li><a href="http://bigcheckfactory.tumblr.com/">tumblr</a></li> -->
  <li><a href="http://twitter.com/_crankin_/">twitter</a></li>
  <li><a href="http://pinboard.in/u:crankin/">pinboard</a></li>
  <li><a href="http://github.com/crankin/">github</a></li>
</ul>
