{% layout "project" %}
{% model "amp.json" %}

{% block content %}
<p>The Austin Museum Partnership is a consortium of Austin-area museums organized to promote collaboration and highlight the events and exhibits available across the city. The original organization website was Flash-based and therefore hard to maintain and update by volunteers and the member organizations.</p>
<p>I redesigned the AMP website with the goals of both highlighting the member organizations and providing an easily readable monthly event calendar. I choose WordPress as the CMS because many of the members had previous experience with it and I could customize the admin screens enough to streamline the event creation and organization information editing process. The site is fully responsive and can be viewed across devices so that users can locate museums and events from their phone on the go just as easily as they can from their desktop browser.</p>
{% endblock %}