{% layout "project" %}
{% model "casa.json" %}

{% block content %}
<p>The Casa Montessori website was a pro-bono design and development project for a small Austin school that did not previously have an online presence. The staff at Casa wanted to provide the parents of potential students information about the school, its particular educational approach, and the Montessori philiosophy.</p>
<p>My partner and I decided to base the design of the site and the navigation on the trinomial cube, a basic material found in the primary Montessori classroom. Since this was the school's first website, we assisted the staff in writing and editing content for the site. I customized and streamlined the site management by using WordPress and a few select plug-ins to simplify the administrative interface in order to make the content updating process less intimidating to the school's self-admittedly non-technical staff.</p>
{% endblock %}