{% layout "project" %}
{% model "relief.json" %}

{% block content %}
<p>Built and launched in a weekend, the Fire Relief site was created to promote the benefit concert for the families and people who were affected by the wildfires in Central Texas during September 2011. Taking the graphics from the benefit poster designed by Marc English Design, I designed and coded a website with navigation and layout elements that mirrored the poster design and provided more detailed information about the damage caused by the fires and how to help. Using an early verison of the 1140 CSS Grid framework allowed me to get the information online quickly with the confidence that it would be viewable across most browsers and devices.</p>
{% endblock %}