{% layout "project" %}
{% model "buzz.json" %}

{% block content %}
<p>Share the Buzz is a Whole Foods Market project that focuses on educating store visitors and the community about the declining population of bees throughout North America and their importance to food production. I created a single-page site that incorporated a wide range of action steps to support bee education and colony maintenance from watching a video, to pinning an image to Pinterest, and researching the causes of the bees decreased population through our scientific partners' websites.</p>
  
<p>In order to attract more attention, I included a couple of special interactions. When the page first loaded, the bees in the top section of the page would "fly" across the browser and off screen. Also, hovering over any of the bee illustrations would play a buzzing bee sound loop. While both interactions were minor, I think they resulted in site visitors staying on the page longer and potentially engaging with the material in more depth.</p>
{% endblock %}