{% layout "project" %}
{% model "tam.json" %}

{% block content %}
<p>The Texas Association of Museums holds an annual meeting that is hosted by a dfferent community in Texas each year. I've designed and developed the conference site for the past 4 years. The local event hosts are responsible for the design of the meeting logo and general look, conference theme, and special local events.</p>
<p>My approach in the design has been to take use the logo and theme as an inspiration for the visual language of the site. I also focus on ensuring that the site is as user-friendly and accessible as possible since the audience for the site still had reservations about using online technology. In addition to detail information about the event, hotel and travel options, and the daily agenda, the site also includes an online registration form allowing attendees to register and securely pay for the meeting. The online form has reduced the amount of work around conference registration for the TAM staff. The sites are responsive and can be used across devices so that they are available for meeting participants to plan their days from the office or check the agenda while onsite at the conference.</p>
{% endblock %}