{% layout "project" %}
{% model "utsoa-redesign.json" %}

{% block content %}
<p>In 2011, I undertook a redesign of the UTSOA site since the current site was over 5 years old, the home-brewed CMS we used was limiting our options to expand the site, and the Flash-based navigation was restricting the ability of visitors to use the site on the device of their choice. The redesign was built using accessible code and based on the ideas of responsive web design so that the site could be used and viewed on the many browsers and devices utilized by the School's audiences.</p>
<p>The visual design of the site was inspired by the UTSOA logo and the many interconnected layers of the School itself. Instead of organizing the page on a rigid grid, the redesign offered a greater visual interest, encouraged exploration, and allowed for a high degree of user interaction and customization. A more complete sense of the animation and interaction can be seen in these <a href="http://www.bigcheckfactory.com/utsoa-redesign/index5.html">home page</a> and <a href="http://www.bigcheckfactory.com/utsoa-redesign/page5.html">interior page</a> demos.</p>
<p>The redesign was not realized before I left employment at the School.</p>
{% endblock %}