{% layout "project" %}
{% model "wholefoods.json" %}

{% block content %}
<p>At Whole Foods Market, I am responsible for maintaining and updating the website. My main weekly responsibility is designing and updating the homepage with new marquee images that highlight current contests, company news, and new content on the site. I work with the marketing and content teams to design and develop special sections of the site to highlight new initiatives including the 2012 Thanksgiving and Holiday pages and the announcement of new seafood regulations. I also work with the social media team to create sites for Facebook, Instagram, and Pinterest contests.</p>
<p>During the Whole Foods website redesign in the summer of 2012, I participated in the development and design of the new homepage and site-wide navigation. I also worked with the team to update and move the site's content and images from the original static PHP pages into the custom Drupal installation.</p>
{% endblock %}