<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
<script type="text/javascript" src="//use.typekit.net/sfm0uwc.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
        <section class="content">
        {{ content }}
        </section>
        
        <section class="sidebar">
        <header>
        <h1><a href="#" class="headlink">{{ site.name }}</a></h1>
        {% include blognav.html %}
        </header>  
        
        {% include otherstuff.html %}
        </section>
    </div>
    
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <script type="text/javascript" charset="utf-8"> 
       $('.post:first-child').addClass('firstone');

    $('.navi').on('click', function(e){
    $('.post:first-child').removeClass('firstone');
    });
     $('.headlink').on('click', function(){
    $('.post:first-child').addClass('firstone');
            e.preventDefault();
      });   
</script>
</body>
</html>
