<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
        <header>
        <h1>{{ site.name }}</h1>
        {% include blognav.html %}
        </header>
          
        <section class="content">
        {{ content }}
        </section>
          
        <section class="sidebar">
        {% include otherstuff.html %}
        </section>
    </div>
    
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <script type="text/javascript" charset="utf-8">        
    $('.navi').on('click', function(e){
      $('#opt0').hide();
    });
</script>
</body>
</html>
