<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy|Varela' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <header>
    <h1><a href="/">crankin</a></h1>
  </header>

    <section class="main">
    <article>
      {{ content }}
    </article>
    </section>

    <section class="archive">
      {% include archives.html %}
    </section>

  <nav>
    {% include blognav.html %}
  </nav>

<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $('.mswitch').on('click', function(e){
      if ($('nav').hasClass('navtop')) {
        $('nav').removeClass('navtop');
      } else {
        $('nav').addClass('navtop');
      }
      e.preventDefault();
      });
</script>
</body>
</html>
