<!doctype html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - Christopher Rankin</title>
    <link rel="stylesheet" href="/css/portfolio.css">
</head>

<body>
    <div class="container">
    <header>
        <h1>Christopher Rankin</h1>
        <p id="menulinks"><a href="/portfolio">Projects</a> | <a href="/resume">R&eacute;sum&eacute;</a> | <a href="#" id="showcontact">Contact</a></p>
        <p id="contactme"><a href="mailto:crankin@bigcheckfactory.com">crankin@bigcheckfactory.com</a> | 512-297-8463</p>
    </header>

        {{ content }}

    </div><!-- container -->
  <script type="text/javascript" src="js/zepto.min.js"></script>
    <script type="text/javascript" src="/js/jquery.unveil.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $('#contactme').hide();
        $('#showcontact').on('click', function(e) {
            e.preventDefault();
            $('#contactme').slideToggle('fast');
        });

        $('.desc').hide();

        $('.wfm a[href="#"]').on('click', function(e) {
            e.preventDefault();
            $('.wfm .desc').slideToggle('slow');
            $('.wfm img').unveil(200);
        });
          $('.buzz a[href="#"]').on('click', function(e) {
            e.preventDefault();
            $('.buzz .desc').slideToggle('slow');
            $('.buzz img').unveil(200);
        });
           $('.truefab a[href="#"]').on('click', function(e) {
            e.preventDefault();
            $('.truefab .desc').slideToggle('slow');
            $('.truefab img').unveil(200);
        });
           $('.casa a[href="#"]').on('click', function(e) {
            e.preventDefault();
            $('.casa .desc').slideToggle('slow');
            $('.casa img').unveil(200);
        });
        $('.relief a[href="#"]').on('click', function(e) {
            e.preventDefault();
            $('.relief .desc').slideToggle('slow');
            $('.relief img').unveil(200);
        });
        $('.mark a[href="#"]').on('click', function(e) {
            e.preventDefault();
            $('.mark .desc').slideToggle('slow');
            $('.mark img').unveil(200);
        });
        $('.amp a[href="#"]').on('click', function(e) {
            e.preventDefault();
            $('.amp .desc').slideToggle('slow');
            $('.amp img').unveil(200);
        });
        $('.tam a[href="#"]').on('click', function(e) {
            e.preventDefault();
            $('.tam .desc').slideToggle('slow');
            $('.tam img').unveil(200);
        });
        $('.utsoa a[href="#"]').on('click', function(e) {
            e.preventDefault();
            $('.utsoa .desc').slideToggle('slow');
            $('.utsoa img').unveil(200);
        });
        $('.redesign a[href="#"]').on('click', function(e) {
            e.preventDefault();
            $('.redesign .desc').slideToggle('slow');
            $('.redesign img').unveil(200);
        });
    </script>
</body>
</html>
