<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ model.title }} - Christopher Rankin</title>
    <script type="text/javascript" src="//use.typekit.net/sfm0uwc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {{ "portfolio.css" | asset_url | stylesheet_tag }}
</head>

<body>
    <div class="container">
    <header>
        <h1>Christopher Rankin</h1>
        <p id="menulinks"><a href="/projects/resume">R&eacute;sum&eacute;</a> | <a href="#projectnav" id="showprojects">Projects</a> | <a href="#" id="showcontact">Contact</a></p>
        <p id="contactme"><a href="mailto:crankin@bigcheckfactory.com">crankin@bigcheckfactory.com</a> | 512-297-8463</p>
    </header>

    <div class="wholeproject">
    <h2>{{ model.title }}</h2>
    <div id="proj-details">
    <p>{{ model.launch }}</p>
    {%  if model.url %}
    <p><a href="http://{{ model.url }}">{{ model.url }}</a></p>
    {% endif %}
    <p>{{ model.tech }}</p>
    </div>
    <div id="proj-desc">
      {% block content %}{% endblock %}
    </div>
    <ul>
        {% for item in model.gallery %}
        <li><img src="/public/images/{{ item.filename }}"></li>
        {% endfor %}
    </ul>
    </div>

    <nav id="projectnav">
      <h3><a href="/portfolio">Projects</a></h3>
      <ul>
        <li><a href="/projects/whole-foods">Whole Foods Market</a></li>
        <li><a href="/projects/share-the-buzz">Share the Buzz</a></li>
        <li><a href="/projects/true-fab">True Fabrication</a></li>
        <li><a href="/projects/casa-montessori">Casa Montessori</a></li>
        <li><a href="/projects/fire-relief">Fire Relief</a></li>
        <li><a href="/projects/mark-skateboards">Mark Skateboards</a></li>
        <li><a href="/projects/austin-museums">Austin Museum Partnership</a></li>
        <li><a href="/projects/texas-museums">Texas Association of Museums</a></li>
        <li><a href="/projects/utsoa">UTSOA</a></li>
      </ul>
    </nav>
  </div>

<script type="text/javascript" src="js/zepto.min.js"></script>

<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/zepto/1.0rc1/zepto.min.js"></script>-->
{{ "jquery.scrollTo-min.js" | asset_url | script_tag }}

<script type="text/javascript" charset="utf-8">
  $('#contactme').hide();
  $(document).ready(function () {
    $('#showcontact').on('click', function(e) {
      e.preventDefault();
      $('#contactme').slideToggle('fast');
    });

    $("#showprojects").click(function(e){
      e.preventDefault();
      $.scrollTo('#projectnav',1000);
    });
  });
</script>
</body>
</html>
