<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resume - Christopher Rankin</title>
    <link href="//fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/portfolio.css">
</head>

<body>
    <div class="container">
    <header>
        <h1>Christopher M. Rankin</h1>
        <p id="menulinks"><a href="/" id="showprojects">Projects</a> | <a href="#" id="showcontact">Contact</a> | <a href="//www.bigcheckfactory.com/img/rankin-resume.pdf" id="download">Download</a></p>
        <p id="contactme"><a href="mailto:crankin@getcrank.in">crankin@getcrank.in</a> | 512-297-8463</p>
    </header>

    <div class="resume">
      {{ content }}
    </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $('#contactme').hide();
        $('#showcontact').on('click', function(e) {
            e.preventDefault();
            $('#contactme').slideToggle('fast');
        });
    </script>
</body>
</html>
