<!doctype html>
<html lang="en">
<head>
        <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resume - Christopher Rankin</title>
    <link rel="stylesheet" href="/css/portfolio.css">
</head>

<body>
    <div class="container">
    <header>
        <h1>Christopher Rankin</h1>
        <p id="menulinks"><a href="/" id="showprojects">Projects</a> | <a href="#" id="showcontact">Contact</a></p>
        <p id="contactme"><a href="mailto:crankin@getcrank.in">crankin@getcrank.in</a> | 512-297-8463</p>      
    </header>

    <div class="resume">
        <section class="content workexp" role="main">
            <h2>Experience</h2>
            {% block experience %}{% endblock %}
        </section>
        <section class="content otherexp">
            <h3>Tools</h3>
            {% block tools %}{% endblock %}

            <h3>Education</h3>
            <div id="trinity">
            {% block education %}{% endblock %}
            </div>

            <h3>Other Experience</h3>
            {% block other %}{% endblock %}
        </section>
    </div>
    </div>

 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/zepto/1.0rc1/zepto.min.js"></script>
    -->
    <script type="text/javascript" charset="utf-8">
        $('#contactme').hide();
        $('#showcontact').on('click', function(e) {
            e.preventDefault();
            $('#contactme').slideToggle('fast');
        });
    </script>
</body>
</html>
